<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lapor Kegiatan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.blur-background]="isModalOpen || thisModalOpen">
  <ion-item lines="none">
    <ion-label position="stacked">Laporan Kegiatan</ion-label>
    <ion-textarea placeholder="Deskripsi"></ion-textarea>
  </ion-item>

  <ion-item lines="none" class="file-upload-container">
    <ion-label position="stacked">Dokumentasi</ion-label>
    <div class="file-upload">
      <ion-button  expand="block" (click)="fileInput.click()">
        <ion-icon slot="start" name="attach-outline"></ion-icon>
        Pilih File
      </ion-button>
      <input type="file" accept="image/*" hidden #fileInput (change)="onFileSelected($event)">
    </div>
  </ion-item>
  
  <ion-list>
    <ion-item *ngFor="let file of files">
      {{ file.name }}
      <ion-button fill="clear" slot="end" color="danger" (click)="removeFile(file)">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="openSavePopup()">Simpan</ion-button>
</ion-footer>

<ng-container *ngIf="isModalOpen">
  <ion-backdrop (click)="closeSavePopup()"></ion-backdrop>
  <div class="popup-container">
    <h2 class="popup-title">Data akan disimpan</h2>
    <p class="popup-message">Apakah anda setuju untuk menyimpan data ini?</p>
    <ion-button expand="block" (click)="saveReport()" class="btn-simpan">Simpan</ion-button>
    <ion-button expand="block" (click)="cancelSave()" class="btn-batal">Batal</ion-button>
  </div>
</ng-container>

<ng-container *ngIf="thisModalOpen">
  <ion-backdrop (click)="saveReport()"></ion-backdrop>
  <div class="popup-container">
    <h2 class="popup-title">Berhasil!</h2>
    <img src="assets/images/verified.png" class="popup-icon" alt="Success Icon">
    <p class="popup-message">Data Berhasil Disimpan.</p>
    <ion-button expand="block" color="primary" (click)="goToTab2()" class="btn-selesai">Selesai</ion-button>
  </div>
</ng-container>
