
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ><p>Detail</p></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>Aspirasi</strong></p>
      <ion-card  > 
        <ion-card-content>
          <p>Masyarakat Desa Maju meminta perbaikan dan peningkatan jalan desa sepanjang 5 km yang saat ini dalam kondisi rusak parah, menghambat akses ekonomi dan mobilitas warga.</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>Anggaran</strong></p>
      <ion-card  > 
        <ion-card-content>
          <p>Rp. 25.000.000</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>Komisi</strong></p>
      <ion-card  > 
        <ion-card-content>
          <p>Komisi III (Bidang Pembangunan dan Infrastruktur)</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>Isu Strategis</strong></p>
      <ion-card  > 
        <ion-card-content>
          <p>Percepatan pembangunan infrastruktur dasar untuk meningkatkan konektivitas wilayah dan pertumbuhan ekonomi lokal.</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>Sasaran</strong></p>
      <ion-card  > 
        <ion-card-content>
          <p>Meningkatkan kualitas infrastruktur jalan desa untuk mempercepat distribusi barang dan jasa serta memperlancar akses pendidikan dan kesehatan.</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>Urusan Daerah</strong></p>
      <ion-card  > 
        <ion-card-content>
          <p>Urusan Pekerjaan Umum dan Penataan Ruang</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>SKPD</strong></p>
      <ion-card  > 
        <ion-card-content>
          <p>Dinas Pekerjaan Umum dan Penataan Ruang Kabupaten</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div class="card" >
    <ion-list>
      <p style="margin-left: 10px; margin-bottom: -4px; font-size: 16px; color: #545454;"><strong>Berkas Pendukung</strong></p>
      <ion-card  > 
        <ion-card-content>
          <a class="download-link">
            <ion-button (click)="onDownload()">Unduh File</ion-button>
          </a>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
