<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="navbar-title">Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll-content">
  <div class="account-header">
    <div class="atas">
    <img src="assets/images/profile.png" width="20%" height="20%">
    <div class="judul">
      <h2>Alex Mandalika, S.Kom</h2>
    </div>
  </div>
    <div class="account-info">
      <p>Dapil Boyolali 1</p>
      <p>Fraksi Partai Demokrasi Indonesia Perjuangan</p>
      <p>Komisi Kementrian Luar Negeri</p>
    </div>
  </div>

  <ion-list lines="full">
    <ion-item button (click)="presentLogoutConfirm()">
      <ion-icon name="log-out-outline" slot="start" class="danger-icon"></ion-icon>
      <ion-label class="danger-label">Keluar</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" class="danger-icon"></ion-icon>
    </ion-item>    
  </ion-list>
</ion-content>
