<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Kunjungan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Laporan Kegiatan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Kegiatan koordinasi berjalan lancar, jumlah peserta hadir 28 peserta.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header style="color: #545454;">
      <strong>
        Dokumentasi
      </strong>
    </ion-list-header>
    <ion-item *ngFor="let image of images" (click)="openImage(image)">
      <ion-label style="font-size: 14px; font-style: italic; color: #545454;">{{ image }}</ion-label>
      <ion-icon name="document" slot="end" style="font-size: 19px;"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
